* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: lightblue;
    text-decoration: none;
}

p {
    font-size: 16px;
}

body {
    background-color: lightcyan;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
    color: white;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    display: flex;
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
    text-decoration: underline;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.banner-image {
    position: relative;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.banner-text {
    position: absolute;
    bottom: 16px;
    right: 32px;
    font-size: 40px;
}

.about-me h1 {
    font-size: 40px;
    text-decoration: underline;
    color: darkblue;
}

.work h1 {
    font-size: 40px;
    text-decoration: underline;
    color: darkblue;
}

.contact-me h1 {
    font-size: 40px;
    text-decoration: underline;
    color: darkblue;
}
.resume h1 {
    font-size: 40px;
    text-decoration: underline;
    color: darkblue;
}
